body{
    margin: 0;
    padding: 0;
    background-color: #EEF0F2;
}
.user{
    width: 150px;
    padding: 20px;
}
.box{
    background-color: #ffffff;
    padding: 0;
}
.left{
    background-color: #E63946;
    margin: auto;
    height: 100%;
    border-top-right-radius: 15px;
}
.right{
    margin: auto; 
}
input{
    color: #666666;
    border: none;
    border-radius: 2px;
}

@media screen and (max-width:575px) {
    .box{
        background-color: transparent;
    }
    
}