*{padding: 0; margin: 0; box-sizing: border-box; font-family: 'Luckiest Guy', cursive;}

section{width: 100%; height: 100vh; display: flex; justify-content: center; flex-direction: column; align-items: center; background: #dee4e7}

 

section h1{ text-shadow: 2px 5px 5px #2f3542; word-spacing: 10px; margin-bottom: 15px; 

 
 font-size:2.5rem; text-transform: uppercase; letter-spacing: 2px; color: rgb(247, 208, 141);}
.centerDiv{ width: 60%; height: 450px; box-shadow:2px 2px 2px 5px white;  display: flex;  
flex-direction: row;  align-items: center; justify-content: center; background: white; color: white; flex-wrap:wrap;
box-sizing: content-box;}

.left{
    background-color: aquamarine;
    grid-row-start: 1;
    grid-row-end: 2;
    height: 350px;
    width: 300px;
    display: inline-block;
    margin: 10px;
    box-sizing: border-box;
}
.right{
    background-color: black;
    grid-row-start: 2;
    grid-row-end: 3;
    height: 350px;
    width:300px;
    box-sizing: border-box;
}